table, th, td{
    border: 1px solid #C8C7AD;
    border-collapse: collapse;
    padding: 5px;
    font-family: Arial;
    font-size: 12px;
}

thead {
	background-color: #52B506;
	text-align: left;
	color: white;
}

tr:nth-child(2n) {
	background-color: #ECECD8;
}

img {
	width: 24px;
	height: 12px; 
}

#firstColumn {
	width: 150px;
}

#secondColumn, #thirdColumn {
	width: 120px;
}

